<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="rootLevel" source="logging.level.root" defaultValue="INFO" />
    <springProperty scope="context" name="appLevel" source="logging.level.com.fishfind.water" defaultValue="INFO" />

    <conversionRule conversionWord="clr"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %clr(%-5level) [%thread] %clr(%logger{36}){cyan} - %msg%n%wex</pattern>
        </encoder>
    </appender>

    <logger name="com.fishfind.water" level="${appLevel}" />

    <root level="${rootLevel}">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
